html,body {
	min-width: 290px;
	color:#4d4f50;
	font-family: Open sans,sans-serif;
	background-color: #fff;
	line-height: 1.5;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width:300px;
	height: 100%;
	border-right: 3px solid black;
}
#logo {
	display: block;
	margin: 15px auto;
}

#navbar header p {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 15px auto;
}

#navbar ul {
	padding: 0;
}

#navbar ul li {
	list-style: none;
	border-top: 1px solid black;
	width: 100%;
}

li a {
	display:block;
	text-decoration: none;
	color: #4d4f50;
	padding: 11px 50px 10px 10px;
}

#main-doc {
	position: absolute;
	margin-left: 310px;
	padding: 20px;
	margin-bottom: 110px;
}

#main-doc header {
	text-align: left;
	font-size: 1.5em;
	color: black;
}

section article {
	margin: 15px;
	font-size: 1em;
}

pre {
	background-color: #f7f7f7;
	padding: 20px;
	margin: auto 20px;
	border-radius: 5px;
}

code {
	display: block;
	text-align: left;
	white-space: pre-line;
}

img {
	max-width: 1000px;
	height: auto;
	display: block;
	margin: auto;
}

.indent {
	margin: auto 20px;
}

p span {
	font-weight: bold;
}

